* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: grey;

    img {
        max-width: 200px;
        border-radius: 10px;
    }
}

.rangoPrecio {
    display: inline-block;
}

h1 {
    font-size: 17px;
    padding: 25px;
    margin: 25px;
    color: black;
}

article {
    padding-left: 37px;
}

h2 {
    color: black;
    padding: 10px;
    font-size: 20px;
}

form {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 1300px;
}

.titulos {
    display: flex;
    justify-content: flex-start;
}

input {
    flex: 1;
    text-align: center;
    padding: 10px;
    gap: 100px;
}

#title,
#productoTitulo {
    padding: 10px;
    margin-right: 100px;
    margin-left: 10px;
    width: 700px;
}

#precio {
    margin-left: -105px;
    padding: 10px;
}

label#precio {
    margin-left: 5px;
}

#productoTitulo {
    margin-left: 1px;
}

#submit {
    display: block;
    padding: 5px;
    margin: 13px 10px 5px;
    color: white;
    background-color: #aa6767;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 90px;
    border: none;
}

#destacados,
#todosProductos {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 20px 47px;
    width: 1300px;
}

div.producto {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.categoria-producto {
    margin-bottom: 10px;
}

.nombre-producto {
    font-weight: bold;
    color: black;
}

.precio-producto {
    font-weight: bold;
    color: blue;
    margin-top: 10px;
}


/* icono estrella */
.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    border-radius: 6px;
}

.icono-destacado {
    position: absolute;
    bottom: 300px;
    right: 8px;
    font-size: 1.5em;
    color: gold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}


/* HR */
hr {
    border: none;
    border-top: 1px solid grey;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
}